<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>symbolcast-service-macos</string>
    <key>CFBundleIdentifier</key>
    <string>com.symbolcast.desktop.service</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>SymbolCast Service</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSBackgroundOnly</key>
    <true/>
    <key>NSServices</key>
    <array>
        <dict>
            <key>NSMessage</key>
            <string>presentSymbolCast</string>
            <key>NSMenuItem</key>
            <dict>
                <key>default</key>
                <string>Show SymbolCast Keyboard</string>
            </dict>
            <key>NSPortName</key>
            <string>com.symbolcast.desktop.service</string>
            <key>NSSendTypes</key>
            <array>
                <string>public.utf8-plain-text</string>
                <string>public.file-url</string>
            </array>
        </dict>
    </array>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
</dict>
</plist>
